
body {

	margin:0;
	padding:0;
	width:100%;
	color:#8a8a8a;
	font:normal 12px/1.5em   "Times New Roman", Times, serif;
	background:#09162b url(../images/main_bg.jpg) repeat left top;
}
html, .main {
	padding:0;
	margin:0;
}
.main {
	
}

#banner
{
	float:right;
	font-size:48px;
	font-weight:bolder;
	color:#191970;
	height:100px;
	width:500px;
	margin-top:30px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;

	
	
}
#rtable
{
	font-size:17px;
	color:#300;
	
	
}

#rtable input{
	height:30px;
	width:200px;
	font-size:15px;
	font-family:"Comic Sans MS", cursive;
	border-radius:10px;
	padding-left:10px;
	
	
	
	
	}
	
	
#reg
{

	border-radius:20px;
	
	padding:30px;
	
	
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
h2 {
	margin:8px 0;
	padding:8px 0;
	font-size:25px;
	font-weight:normal;
	color:#3f3f3f;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
}
a {
	color:#f933a0;
	text-decoration:underline;
}
.header, .content,  .menu_nav,.fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}









.header {
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:960px;
}
.logo {
	margin:0;
	padding:0;

	height:144px;
}
h1 {
	margin:0;
	padding:68px 0 0;
	font-size:48px;
	font-weight:normal;
	line-height:1.2em;
	text-transform:none;
	text-align:left;
}
h1 a, h1 a:hover {
	color:#f933a0;
	text-decoration:none;
}
h1 span {
	color:#fff;
}
h1 small {
	margin:0;
	font-size:16px;
	font-weight:normal;
	line-height:1.2em;
	letter-spacing:normal;
	text-transform:none;
	color:#fff;
}
.slider {
	padding:0;
	background:#f4f4f4 url(../images/slider_bg.jpg) no-repeat center 320px;
}
.rss {
	padding:18px 20px 0 0;
	float:right;
	width:auto;
}
.rss p {
	margin:0;
	padding:0;
	float:right;
	width:auto;
	color:#fff;
	font-size:13px;
	line-height:1.5em;
	font-weight:bold;
}
.rss a {
	color:#fff;
	text-decoration:none;
}
.rss a:hover {
	text-decoration:underline;
}
.rss img {
	margin:-3px 0 -3px 6px;
	border:none;
}
.menu_nav {
	margin:0 auto;
	padding:0;
	height:45px;
	
}
.menu_nav ul {
	list-style:none;
	padding:0;
	height:45px;
	float:none;
	background-color:#0C1729;



}
.menu_nav ul li {
	margin:0;
	padding:0;
	float:left;
	margin-left:-5px;


}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:14px 32px;
font-size:16px;
	font-weight:bold;
	line-height:17px;
	
	color:#FFF;
	text-decoration:none;
	text-transform:none;
	text-align:center;
	background:none;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration:none;
	color:#F30;
}
.content {
	padding:0;
}
.content_resize {
	margin:0 auto;
	padding:18px 0 32px;
	width:960px;
	background:#f4f4f4;
	text-align:justify;
	box-shadow:0px 0px 15px #CCCCCC;
	border-radius:10px;
	
	
}
.content .mainbar {
	margin:0;
	padding:12px 20px;
	float:left;
	width:640px;
}
.content .mainbar h2 {
	margin-bottom:0;
	padding-bottom:0;
	font-size:30px;
	line-height:1.2em;
}
.content .mainbar div.img {
	padding:12px 0;
	float:left;
}
.content .mainbar img {
}
.content .mainbar img.fl {
	margin:0;
	padding:0;
	background:#fff;
	border:1px solid #8b8b8b;
}
#home
{

padding:40px;
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
height:300px; width:840px; background-color:#fff;margin:20px;border-radius:10px;box-shadow:0px 0px 15px #0000CC inset;
	
	
}
.con
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#006;
	font-size:14px;
	padding:20px;
	
	
}
#con_lower
{
	height:250px;
	
	
	
}


.box
{
	height:180px;
	width:210px;
	border-radius:10px;
	box-shadow:0px 0px 15px #999999;
	float:left;
	margin:48px;
	
}
.box img
{
	border-radius:10px;
	 height:180;
	  width:220;
	
}

.box img:hover
{
	opacity:.8;
	
	
}
.content .mainbar .article {
	margin:0 0 32px;
	padding:0;
}
.content .mainbar .article a {
	color:#334e7d;
}
.content .mainbar .post_content {
	float:right;
	width:420px;
}
.content .mainbar .post_content strong {
	color:#3f3f3f;
}
.content .sidebar {
	padding:0 20px;
	float:right;
	width:220px;
}
.content .sidebar .gadget {
	margin:0 0 12px;
	padding:8px 0;
}
.content .sidebar h2 {
	color:#f933a0;
	text-transform:none;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#929292;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:8px 0;
	width:220px;
}
ul.ex_menu li {
	padding:4px 0;
}

ul.sb_menu li a {
	color:#929292;
	text-decoration:none;
	margin-left:-16px;
	padding:4px 8px 4px 16px;
}






#login_popup{
	position:absolute;
	left:35%;
	top:45%;
	
	
	
	}


ul.ex_menu li a {
	font-weight:bold;
	color:#3f3f3f;
	text-decoration:none;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#f933a0;
	font-weight:bold;
	text-decoration:underline;
}
p.spec {
	padding:0 0 16px;
}
p.infopost {
	margin-bottom:0;
	padding:6px 12px;
	color:#8a8a8a;
	background:#e1e1e1;
}
p.infopost a {
	padding:0 2px;
	color:#6e6e6e;
	text-decoration:underline;
}
.content .mainbar a.com {
	margin:0;
	padding:0;
	float:right;
	font-weight:normal;
	text-decoration:none;
	color:#3f3f3f;
}
.content .mainbar a.com:hover {
	text-decoration:underline;
}
.content .mainbar a.com span {
	padding-left:4px;
	font-weight:bold;
	color:#3f3f3f;
}
.content .mainbar a.rm {
	float:left;
	margin:0 0 16px;
	padding:0;
	font-size:13px;
	line-height:18px;
	font-weight:normal;
	text-transform:none;
	color:#f933a0;
	text-decoration:none;
	text-align:center;
	background:none;
}
.content .mainbar a.rm:hover {
	text-decoration:underline;
}
.content p.pages {
	margin:0;
	padding:16px 0;
	font-size:11px;
	color:#929292;
	text-align:left;
}
.content p.pages span, .content p.pages a {
	padding:8px 12px;
	text-decoration:none;
	background:#fff;
}
.content p.pages span, .content p.pages a:hover {
	color:#fff;
	background:#696969;
}
.content p.pages a {
	color:#929292;
}
.content p.pages small {
	font-size:12px;
	float:right;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg {
	padding:20px 0 0;
}
.fbg_resize {
	margin:0 auto;
	width:920px;
	padding:16px 20px;
	color:#8a8a8a;
	background:#f4f4f4;
}



}
.fbg h2 {
	color:#3f3f3f;
	padding-bottom:24px;
}
.fbg img.gal {
	margin:0 8px 8px 0;
	padding:0;
	border:none;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:280px;
}
.fbg .c2 {
	padding:0 36px 0 16px;
	width:280px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:274px;
}
.fbg .fbg_ul {
	margin:0;
	padding:0;
	list-style:none;
}
.fbg .fbg_ul li {
	margin:0;
	padding:0;
	list-style:none;
}


.fbg .fbg_ul li a {
	
	display:block;
	margin:0;
	padding:2px 0 2px 12px;
	color:#8a8a8a;
	text-decoration:none;
	background:url(../images/li.gif) no-repeat left center;
}
.fbg .fbg_ul li a:hover {
	color:#f933a0;
	text-decoration:underline;
}
.fbg p.contact_info {
	line-height:1.8em;
}
.fbg p.contact_info a {
	color:#f933a0;
	text-decoration:underline;
}
.fbg p.contact_info span {
	display:block;
	float:left;
	width:74px;
	font-weight:bold;
	color:#3f3f3f;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:5px 2px;
	height:16px;
	background-color:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:0;
	padding:2px;
	background-color:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.searchform {
	margin:0;
	padding:0;
	float:right;
}
#formsearch {
	margin:0;
	padding:74px 0 0;
	width:auto;
	height:30px;
}
#formsearch span {
	display:block;
	margin:0;
	padding:0;
	float:left;
	background:url(../images/search_bg.gif) no-repeat left top;
}
#formsearch input.editbox_search {
	margin:0;
	padding:8px 6px;
	float:left;
	width:174px;
	font-size:12px;
	line-height:14px;
	color:#aeaeae;
	background:none;
	outline:none;
	border:none;
}
#formsearch input.button_search {
	margin:0;
	padding:0;
	border:none;
	float:left;
}
.footer {
	
	
	background-image:url(../images/231%20(1).png);
	background-repeat:repeat-x;
}



.regbutton
{
	background-color:#006; height:50;width:150px;color:red;font-size:28px; height:60px; width:150px;
	
	
}
.footer_resize {
	margin:0 auto;
	padding:0 20px;
	width:920px;
	line-height:1.5em;
	background-image:url(../images/231%20(1).png);
	height:250px;
	
}
.footer_resize p {
	margin:24px 0;
	padding:0;
	line-height:normal;
	white-space:nowrap;
	text-indent:inherit;
}
.footer_resize a {
	color:#FFF;
	font-weight:bold;
	margin:0;
	padding:0;
	border:none;
	text-decoration:none;
	background-color:transparent;
}
.footer_resize a:hover {
	color:#f933a0;
	background-color:transparent;
	text-decoration:none;
}


.footer_nav 
{
	height:150px;
	width:260px;
	float:right;
	margin-top:30px;
	font-family:"Times New Roman", Times, serif;
	text-color:white;
	
	
}



.footer_resize .lf {
	float:left;
	color:#36F;
	
}
.footer_resize .rf {
	float:right;
}
a {
	outline:none;
};


.footer_resize
{

	background-image:url(../images/231%20(1).png);
	height:250px;

	
	
	
}
.heading
{
	background-color:#666666;
	height:37px;
border-radius:10px 10px 0px 0px;	
	
	font-size:20px;
	color:#fff;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-left:20px;
	font-weight:bold;
	line-height:30px;
	
	
	
}

.heading_s
{

border-radius:10px 10px 0px 0px;	
	background-color:#666666;
	height:25px;
	
	font-size:15px;
	color:#fff;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-left:20px;
	font-weight:bold;
	line-height:18px;
	width:880px;margin-left:25px;
	}

.heading:hover
{
	color:#006;
	font-size:21px;
	
	
	
}




.heading_s:hover
{
	color:#006;
	font-size:16px;
	
}
.h_bg
{
	background-image:url('images/menu-bg.gif');
	background-repeat:repeat-x;
	width:auto;

	
	
}

	input[placeholder], [placeholder], *[placeholder] {
   color:#00F;   
 }
#reg
{
	
	height:auto;
	background-color:#fff;
	background-repeat:no-repeat;
	left:300px;
	top:150px;
	margin:20px;
	color:#FFF;
	border-radius:10px;
	width:860px;
	box-shadow:0px 0px 15px #0000CC inset;

	
}

#social li
{
	float:left;
	list-style:none;
	
}



#left
{
	float:left;
	
	width:400px;
	background-color:#003;
	border-radius:15px;
	box-shadow:0px 0px 15px #0099FF;
	
	
	
}

#products
{
	width:400px;
	height:400px;padding-top:20px;
	padding-left:20px;
	
	
	
}


#products li
{
	list-style:none;
	float:none;
	font-size:14px;
	list-style:outside;
	color:#009;
	font-weight:bold;
	line-height:20px;
}
#right
{
	float:right;
	height:400px;
	width:400px;
	background-color:#003;
	border-radius:15px;
	box-shadow:0px 0px 15px #0099FF;
	
	
}


#reg img:hover
{
	opacity:.9;
	
}
#ebut
{
	background-color:#00C;
	color:#9FF;
	font-size:16px;
	height:40px;
	
	
}
#ebut:hover
{
	opacity:.7;
	
}


#copy
{
	
	color:#36F;
	margin-top:-30px;
	padding-left:30px;
	
}
#copy a
{
	color:#fff;
}
#copy:hover
{
	color:#C06;	
}


#carrier
{
	border-radius:10px;
	height:500px;
	box-shadow:0px 0px 15px #0000CC inset;
	padding:20px;
	
}